@using Microsoft.AspNetCore.Identity
@inject SignInManager<BeerNet.Models.BeerNetUser> SignInManager
@model BeerNet.Models.BeerNetUser
@{
    ViewData["Title"] = $"{Model.Login}'s account";
}

<div class="row">
    <div class="col-9">
        <div class="row">
            <div class="col-2">
                <img src="@Model.GetImage()" style="max-height: 6em; max-width: 6em" />
            </div>
            <div class="col-10">
                <div class="row">
                    <h2>@Model.Login</h2>
                </div>
                <div class="row">
                    <h4>@Model.Name @Model.Surname</h4>
                </div>
            </div>
        </div>
        <div class="row pl-4 pt-4">
            <table class="table border-bottom">
                <tr>
                    <th>
                        Rated Beers:
                    </th>
                    <th>
                    </th>
                </tr>
            </table>
            <table class="table">
                <tr class="table-borderless">
                    <th>
                        <a asp-action="Index" asp-route-login="@Model.Login" asp-route-orderBy="Beer" asp-route-sortAscending="@ViewBag.sortAscending">Beer</a>
                    </th>
                    <th>
                        <a asp-action="Index" asp-route-login="@Model.Login" asp-route-orderBy="Style" asp-route-sortAscending="@ViewBag.sortAscending">Style</a>
                    </th>
                    <th>
                        <a asp-action="Index" asp-route-login="@Model.Login" asp-route-orderBy="Score" asp-route-sortAscending="@ViewBag.sortAscending">Score</a>
                    </th>
                    <th>
                        <a asp-action="Index" asp-route-login="@Model.Login" asp-route-orderBy="Average" asp-route-sortAscending="@ViewBag.sortAscending">Average</a>
                    </th>
                </tr>
                @foreach (var beerRate in Model.BeerRates)
                {
                    <tr>
                        <td>
                            <a asp-controller="Beer" asp-action="BeerDetails" asp-route-id="@beerRate.Beer.Id" class="dark-no-decorations">
                                @beerRate.Beer.Name
                            </a>
                            <a asp-controller="Brewery" asp-action="BreweryDetails" asp-route-id="@beerRate.Beer.Brewery.Id" class="small dark-no-decorations">
                                @beerRate.Beer.Brewery.Name
                            </a>
                        </td>
                        <td>
                            @beerRate.Beer.GetStyleName()
                        </td>
                        <td>
                            @beerRate.Rate
                        </td>
                        <td>
                            @Math.Round(beerRate.Beer.AverageRating, 2)
                        </td>
                    </tr>
                }
            </table>

        </div>
    </div>

    <div class="col-3">
        <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Manage/Index">Manage</a>
    </div>
</div>