@model IList<Beer>
@using BeerNet.Models.Enums
@{
    ViewData["Title"] = "Home Page";
}


<form asp-action="BeerSearch">
    <div class="row">
        <div class="col-3">
            <div class="form-row form-group">
                <label for="beerName">Beer Name</label>
                <input id="beerName" name="beerName" type="text" class="form-control" />
            </div>
            <div class="form-row form-group">
                <label for="breweryName">Brewery Name</label>
                <input id="breweryName" name="breweryName" type="text" class="form-control" />
            </div>
        </div>

        <div class="col-3">
            <div class="form-row form-group">
                <label for="country">Country</label>
                <select id="country" name="country" class="form-control">
                    <option value="" disabled selected hidden>Choose Country...</option>
                    @foreach (var country in (Country[])Enum.GetValues(typeof(Country)))
                    {
                        <option>@country</option>
                    }
                </select>
            </div>
            <div class="form-row form-group">
                <label for="beerStyle">Beer Style</label>
                <select id="beerStyle" name="beerStyle" class="form-control">
                    <option value="" disabled selected hidden>Choose Style...</option>
                    @foreach (var beerStyle in (BeerStyle[])Enum.GetValues(typeof(BeerStyle)))
                    {
                        <option>@beerStyle</option>
                    }
                </select>
            </div>
        </div>

        <div class="col-2">
            <div class="form-row form-group">
                <label for="minExtract">Minimal Extract</label>
                <input id="minExtract" name="minExtract" type="number" class="form-control" min="0" max="100" />
            </div>
            <div class="form-row form-group">
                <label for="maxExtract">Maximum Extract</label>
                <input id="maxExtract" name="maxExtract" type="number" class="form-control" min="0" max="100" />
            </div>
        </div>
        <div class="col-2">
            <div class="form-row form-group">
                <label for="minAbv">Minimum Abv</label>
                <input id="minAbv" name="minAbv" type="number" class="form-control" min="0" max="100" />
            </div>
            <div class="form-row form-group">
                <label for="maxAbv">Maximum Abv</label>
                <input id="maxAbv" name="maxAbv" type="number" class="form-control" min="0" max="100" />
            </div>
        </div>
        <div class="col-2">
            <input type="submit" value="Search" class="btn btn-primary" style="position: absolute; bottom: 1em;" />
        </div>
    </div>
</form>

@foreach (var beer in Model)
{
    <div class="list-group">
        <a asp-action="BeerDetails" asp-route-id="@beer.Id" class="list-group-item list-group-item-action">
            <div class="row">
                <div class="col-1 text-center">
                    <img src="@beer.GetImage()" style="max-height: 5em; max-width: 5em" />
                </div>
                <div class="col-11 small">
                    <div class="row">
                        <h5>@beer.Name</h5>
                    </div>
                    <div class="row">
                        @beer.GetStyleName()
                    </div>
                    <div class="row">
                        @beer.Brewery.Name (ToDo_LinkToBrewery)
                    </div>
                    <div class="row">
                        Rating: @Math.Round(beer.AverageRating, 2) (@beer.BeerRates.Count())
                    </div>
                </div>
            </div>
        </a>
    </div>
}

<partial name="_PaginationPartial" />
